<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            href="https://bootswatch.com/4/litera/bootstrap.css"
            rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Blogly</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/users">Users</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/tags">Tags</a>
                    </li>
                  </ul>
                </div>
              </nav>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    {% block content %} 
                        <h3 class="text-center mt-3">{% block header %} {% endblock %}</h3>
                    {% endblock %}
                </div>
            </div>
        </div>
        {% for category, msg in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{category}} w-50 mx-auto my-4" role="alert">
                {{msg}}
            </div>
        {% endfor %}
        <script src="" async defer></script>
    </body>
</html>