{% extends 'base.html' %}

{% block title %}
Create a user
{% endblock %}

{% block content %}
<form action="/users/new" method="POST">
    <div class="my-3">First Name <input type="text" name="first" class="w-100"></div>
    <div class="my-3">Last Name <input type="text" name="last"  class="w-100"></div> 
    <div class="my-3">Image URL <input type="text" name="image"  class="w-100"></div> 
    <button class="btn btn-success m-1 float-right">Add</button>
    <a class="btn btn-outline-primary m-1 float-right" href="/users">Cancel</a>
</form>
{% endblock %}