{% extends 'base.html' %} 

{% block title %}
  Add Post for {{user.fullname}}
{% endblock %}

{% block content %}

<form action="/users/{{user.id}}/posts/new" method="POST">

<p>Title <input type="text" name="title"></p>
<p>Content <textarea rows="4" name="content"></textarea></p>
{% for tag in tags %}
  <p><input type="checkbox" name="{{tag.name}}"> {{tag.name}}</p>
{% endfor %}
  <a class="btn btn-success" href="/users/{{user.id}}">Cancel</a>
  <button type="submit" class="btn btn-primary">Add</button>

</form>

{% endblock %}