{% extends 'base.html' %}

{% block title %} Edit a Tag {% endblock %}
{% block content %}
{% block header %}
<h3 class="mt-5">Edit Tag</h3>
{% endblock %}
<form action="/tags/{{tag.id}}/edit" method="POST">
    <div><b>Tag Name:</b> <input type="text" name="tag_name" value="{{tag.name}}"></div>
    <div class="mt-4">
    <b>Posts:</b>
    {% for post in posts %}
    <div><input type="checkbox" name="{{post.title}}"
        {% if tag in post.tags %}checked{%endif%}> {{post.title}}</div>
    {% endfor %}
    </div>
    <button class="btn btn-success float-right m-1">Edit</button>
    <a href="/tags" class="btn btn-outline-primary float-right m-1">Cancel</a>
</form>

{% endblock %}