{% extends 'base.html' %}

{% block title %} Edit Post {% endblock %}
{% block content %}
{% block header %}
<h3 class="mt-5">Edit Post:</h3>
{% endblock %}

<form action="/posts/{{post.id}}/edit" method="POST">
<div class="my-2">Title</div>
<input type="text" name="title" value="{{post.title}}" class="w-100">
<div class="my-2">Content</div> 
<textarea rows="3" name="content" class="w-100">{{post.content}}</textarea><br>
<b>Tags:</b>
{% for tag in tags %}
  <div><input type="checkbox" name="{{tag.name}}"
    {% if tag in post.tags %}checked{%endif%}> {{tag.name}}</div>
{% endfor %}
<br>
  <button type="submit" class="btn btn-success float-right">Submit</button>
  <a class="btn btn-outline-primary float-right mr-1" href="/posts/{{post.id}}">Cancel</a>

</form>
{% endblock %}

