{% extends 'base.html' %} 

{% block content %} 
<h1>{{user.first_name}} {{user.last_name}}</h1>
<img src="{{user.image_url}}" alt="" />

<a class="btn btn-primary" href="/users/{{user.id}}/edit">Edit</a>

<form action="/users/{{user.id}}/delete" method="POST">
  <button class="btn btn-danger">Delete</button>
</form>

<h2>Posts</h2>
<ul>

{% for post in user.posts %}
<li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
{% endfor %}

</ul>
<a class="btn btn-primary" href="/users/{{user.id}}/posts/new">Add Post</a>

{% endblock %}
