{% extends 'base.html' %}

{% block title %} {{post.title}} {% endblock %}
{% block content %}
<p>
{{post.content}}
</p>
<em>by {{post.user.fullname}} </em> on {{post.friendly_date}}
<strong>Tags:</strong> 
{% for tag in post.tags %}
<a href="/tags/{{tag.id}}"><span class="badge bg-primary">{{tag.name}}</span></a>
{% endfor %}

<a class="btn btn-outline-primary" href="/users/{{post.user.id}}">Cancel</a>
<a class="btn btn-primary" href="/posts/{{post.id}}/edit">Edit</a>
<form action="/posts/{{post.id}}/delete" method="POST">
    <button class="btn btn-danger">Delete</button>
</form>

{% endblock %}

