{% extends 'base.html' %}

{% block title %} {{post.title}} {% endblock %}
{% block content %}
{% block header %}
<h3 class="mt-5">{{post.title}}</h3>
{% endblock %}
<div><em>by {{post.user.fullname}} </em> on {{post.friendly_date}}</div>
<div class="mb-3">
    {% for tag in post.tags %}
    <a href="/tags/{{tag.id}}" style="color: white"><span class="badge bg-info">{{tag.name}}</span></a>
    {% endfor %}
</div>

<div>
{{post.content}}
</div>


<a class="btn btn-primary float-right" href="/posts/{{post.id}}/edit">Edit</a>
<form action="/posts/{{post.id}}/delete" method="POST" class="float-right">
    <button class="btn btn-danger">Delete</button>
</form>

{% endblock %}

