{% extends 'base.html' %}

{% block content %}
{% block header %}
<h3 class="mt-5">Users</h3>
{% endblock %}
<ul class="list-group list-group-flush">

{% for user in users %}
<li class="list-group-item"><a href="users/{{user.id}}">{{user.fullname}} 
{% if user.posts | length != 1 %}
({{user.posts | length}} Posts)
{% else %}
({{user.posts | length}} Post)
{% endif %}
</a></li>
{% endfor %}

</ul>

<form action="/users/new">
    <button class="btn btn-primary float-right">Add User</button>
    <!-- a tag -->
</form>

{% endblock %}